body {
  background-image: url(Background-Bakugan.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  font-size: 10px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-align: center;
}
.card {
  width: 27vw;
  height: 35vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: grey;
}
.Bakugan{
  font-size: 2.2rem;
  text-transform: uppercase;
}
.abilities{
  font-size: 1.3rem;
}
.card-img{
width: 50%;
}