body {
  background-image: url(Background-Bakugan.png);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  box-sizing: border-box;
  font-family: "Goblin One", cursive;
  display: flex;
  flex-wrap: wrap;
}
.card {
  width: 20vw;
  height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-image: url(PyrusCard.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 35px 35px;
  border-style: outset;
  border-radius: 10px;
  border-width: 8px;
}
.Bakugan {
  margin-top: 20px;
  width: 95%;
  text-align: left;
  font-size: 1rem;
  text-transform: uppercase;
}
.abilities {
  margin: 20px 0px 20px 0px;
  padding: 0px;
  font-size: .6rem;
  border: solid;
 background-color: aliceblue;
  text-align: center;
}
