body {
  background-image: url(Background-Bakugan.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  box-sizing: border-box;
  font-family: "Goblin One", cursive;
}
.card {
  white-space: nowrap;
  width: 27vw;
  height: 65vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-image: url(PyrusCard.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  margin: 50px 50px;
  border-style: outset;
  border-radius: 10px;
  border-width: 8px;
}
.Bakugan {
  text-align: left;
  font-size: 1.7rem;
  text-transform: uppercase;
}
.abilities {
  display: inline-block;
  font-size: 1.3rem;
}
.evolution {
  display: inline-block;
  margin: 20px 0px;
}
.card-img {
  width: 55%;
}
