.container {
  background-image: url(Background-Bakugan.png);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  box-sizing: border-box;
  font-family: "Goblin One", cursive;
  display: flex;
  flex-wrap: wrap;
}
@media screen and (max-width: 1080px){
  .container{
    width: 40%;
  }
}
.card {
  width: 20vw;
  height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-image: url(PyrusCard.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 10px 29px;
  border-style: outset;
  border-radius: 10px;
  border-width: 8px;
  box-shadow: inset 0px 10px 25px 5px rgba(206, 0, 0, 0.8);
  transition: all 0.3s;
}
.Bakugan {
  margin-top: 20px;
  width: 95%;
  text-align: left;
  font-size: 1rem;
  text-transform: uppercase;
}
.abilities {
  margin: 20px 0px 20px 0px;
  padding: 0px;
  font-size: 0.6rem;
  border: solid;
  background-color: black;
  text-align: center;
}
.card:hover{
 transform: scale(1.05);
 outline: .5rem solid #b91f1f;
 color: white;
 cursor: pointer;
}
.container:hover .card:not(:hover){
  transform: scale(.95);
}
.logo{
  animation: rotate 8s infinite linear;
}
@keyframes rotate{
  from{
    transform: rotate(0deg);
  }
  to{
    transform: rotate(359deg);
  }
}